@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #4f46e5;
    color: #ffffff;
}

body {
    color: #fff;
    background-image: linear-gradient(to right, rgb(10, 13, 19), rgb(18, 29, 55));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
